---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: wordpress-casaebottega
  namespace: wordpress-guests
spec:
  interval: 15m
  chart:
    spec:
      chart: wordpress
      version: 11.18.33
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    mariadb:
      persistence:
        tmp:
          mountPath: /tmp
          enabled: true
          type: nfs
          path: /mnt/AI_SSD/recover_backup
          server: "10.0.10.10"

    php-config:
      PHP_MEMORY_LIMIT: "2048M"
      PHP_POST_MAX_SIZE: "2048M"
      PHP_UPLOAD_MAX_FILESIZE: "2048M"
    credentials:
      s3:
        type: s3
        url: "${S3_ENDPOINT}"
        bucket: "${S3_BUCKET}"
        accessKey: "${S3_ID}"
        secretKey: "${S3_KEY}"
        encrKey: "${S3_KEY}"
    persistence:
      tmp:
        mountPath: /tmp
        enabled: true
        type: nfs 
        path: /mnt/AI_SSD/recover_backup
        server: "10.0.10.10"
      config:
        volsync:
          - name: config
            type: restic
            credentials: s3
            dest:
             enabled: true
            src:
              enabled: true
    ingress:
      wordpress:
        enabled: true
        primary: true
        ingressClassName: external
        hosts:
          - host: www.ristocasaebottega.it
            paths: 
              - path: /
          - host: wordpress-casaebottega.cloud.local
            paths:
              - path: /
        tls:
          - hosts:
              - www.ristocasaebottega.it
              - wordpress-casaebottega.cloud.local
        integrations:
          traefik:
            enabled: false
