apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: CHANGEME
    server: https://CHANGEME
  name: truecharts
- cluster:
    certificate-authority-data: CHANGEME
    server: https://CHANGEME
  name: truecharts-dev
contexts:
- context:
    cluster: truecharts
    namespace: default
    user: admin@truecharts
  name: admin@truecharts
- context:
    cluster: truecharts-dev
    namespace: default
    user: admin@truecharts-dev
  name: admin@truecharts-dev
current-context: admin@truecharts
kind: Config
preferences: {}
users:
- name: admin@truecharts
  user:
    client-certificate-data: CHANGEME
    client-key-data: CHANGEME
- name: admin@truecharts-dev
  user:
    client-certificate-data: CHANGEME
    client-key-data: CHANGEME
