---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: unifi
  namespace: unifi

spec:
  interval: 15m
  chart:
    spec:
      chart: unifi
      version: 25.2.1
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    service:
      main:
        type: "LoadBalancer"
        loadBalancerIP: "10.0.10.107"
        integrations:
          metallb:
            enabled: true
      comm:
        type: "LoadBalancer"
        loadBalancerIP: "10.0.10.107"
        integrations:
          metallb:
            enabled: true
      guestportal:
        type: "LoadBalancer"
        loadBalancerIP: "10.0.10.107"
        integrations:
          metallb:
            enabled: true
      speedtest:
        type: "LoadBalancer"
        loadBalancerIP: "10.0.10.107"
        integrations:
          metallb:
            enabled: true
      stun:
        type: "LoadBalancer"
        loadBalancerIP: "10.0.10.107"
        integrations:
          metallb:
            enabled: true
#      guestportal:
#        enabled: true
#        ingressClassName: internal
#        hosts:
#          - host: "unifi.cloud.local"
#            paths:
#              - path: /
#        tls:
#          - hosts:
#              - unifi.cloud.local
