---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ejabberd
  namespace: ejabberd
spec:
  interval: 15m
  chart:
    spec:
      chart: ejabberd
      version: 21.11.3
      sourceRef:
        kind: GitRepository
        name: oreste
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    credentials:
      s3:
        type: s3
        url: "${S3_ENDPOINT}"
        bucket: "${S3_BUCKET}"
        accessKey: "${S3_ID}"
        secretKey: "${S3_KEY}"
        encrKey: "${S3_KEY}"
    persistence:
      data:
        mountPath: /books
        enabled: true
        type: nfs 
        path: /mnt/AI_Storage/Calibre_library
        server: "10.0.10.10"
      config:
        volsync:
          - name: config
            type: restic
            credentials: s3
            dest:
             enabled: true
            src:
              enabled: true
    ingress:
      main:
        ingressClassName: external
        enabled: true
        hosts:
          - host: "calibre.${DOMAIN_0}"
            paths:
              - path: /
          - host: ejabberd.cloud.local
            paths:
              - path: /
        tls:
          - hosts:
              - ejabberd.cloud.local
              - "calibre.${DOMAIN_0}"
        integrations:
          traefik:
            enabled: false
   